# Python
backend/.venv/
backend/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# VS Code
.vscode/

# IntelliJ
.idea/

# Environment
.env
.env.*

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Machine Learning Models
backend/model.pkl
backend/*.pkl
backend/*.joblib